
#skills {
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 500px;
}

#skills h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
}

#skills h1 span::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background: #5302bd;
  left: 25%;
  bottom: -5px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 50%;
  margin: 0 auto;
}

.skills-category {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #5302bd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #5302bd;
}

.skills-category h2 {
  font-size: 1.5rem;
  color: #5302bd;
  margin-bottom: 20px;
  text-align: left;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  gap: 20px;
}


.skill-item {
  width: 120px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.skill-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  object-fit: contain;
}

.skill-item p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}
